.mat-drawer-container {
    width: 100%;
    height: 100%;
    flex: 1;
    position: fixed;
    padding: 1rem;
}

.body-container {
    z-index: 0;
    position: relative;
}

.sidenav {
    width: 12%;
}

.content {
    width: 88%;
}

.left-nav {
    position: relative;
    top: 6px;
    width: 100%;
}

.nav-link {
    justify-content: flex-start;
    border-radius: 0;
    width: 100%;
}

.content-mat-card {
    margin-top: 1rem;
    margin-bottom: 7rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    flex: 1;
    overflow: visible;

}