.mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  background-color: rgb(233, 229, 229);
  position: relative;
  z-index: 1;
}

.menu-spacer {
  flex: 1 1 auto;
}

.title-spacer {
  padding-right: 2rem;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}

.active-router-button {
  background-color: rgb(67, 175, 246);
  color: whitesmoke !important;
}